.swiper-slide,
.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-active {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    height: auto;
}

.swiper-button-prev,
.swiper-button-next {
    color: gray;
    top: 45%;
}
